---
import newWindowIcon from '../../icons/window-new.svg';
interface Props {
	obtained: number;
	expiry?: number;
	institution: string;
	title: string;
	href: string;
}

const { obtained, expiry, institution, title, href } = Astro.props;
---

<div class="certificate-item w-full
        desktop:w-[380px] desktop:mb-[50px] desktop:p-[50px] mx-auto
">
	<div class="certificate-item_year
        desktop:text-[24px]
    ">
		<span class="obtained">{obtained}</span>
		{
			expiry && (
					<span class="delimiter">-</span>
					<span class="expiry">{expiry}</span>
			)
		}
	</div>
	<p class="certificate-item__institution-name mb-[20px] lg:mb-[40px]
        desktop:text-[20px]
    ">{institution}</p>
	<h3 class="certificate-item__title">{title}</h3>
	<a href={href} target="_blank" class="certificate-item__button">Show Certificate 
        <img src={newWindowIcon.src} alt="new window icon" />
    </a>
</div>

<style>
	.certificate-item {
		/* width: 272px; */
        break-inside: avoid;
        margin:0 auto 40px auto;
		padding:40px 20px;

        @screen mobile {
            padding:40px;
        }
        @screen tablet {
            padding:60px;
        }
		/* background-color: var(--normal-text); */
        background-color:#fff;

		.certificate-item_year {
			font-family: 'BebasKai', sans-serif;
			font-size: 20px;
			/* margin-bottom: 10px; */
            display:flex;
            justify-content: center;
            align-items: center;
            column-gap:10px;

            @screen mobile {
                font-size: 24px;
            }
		}

		.certificate-item__institution-name {
			font-size: 16px;
			margin-bottom: 40px; 
            text-align: center;

            @screen mobile {
                font-size: 20px;
                margin-bottom: 50px;
            }
		}

		.certificate-item__title {
			font-family: 'BebasKai', sans-serif;
			font-size: 24px;
			margin-bottom: 40px;
            text-align: center;

            @screen mobile {
                font-size: 32px;
			    margin-bottom: 60px;
            }
		}

		.certificate-item__button {
            margin:0 auto;
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			width: 100%;
			background-color: var(--main-text);
			color: #fff;
			font-size: 16px;
			font-weight: bold;

            @screen mobile {
                height: 50px;
                font-size: 20px;
            }

            @screen tablet {
                width: 300px;
            }

            @screen desktop {
                width: 280px;
            }

            img {
                width:30px;
                height:30px;
                margin-left:10px;

                @screen mobile {
                    width:50px;
                    height:50px;
                }
            }
		}
	}

</style>
